<template>
    <div>
        <h2>Конвертер валют</h2>
        <div class="convert">
            <button @click="change" class="convert__change">&#171;&#187;</button>
            <div class="convert__box">
                <select
                        name="currencies"
                        class="convert__select"
                        v-model="selectedFirst"

                >
                    <option disabled value="">Выберите один из вариантов</option>
                    <option value="UAN">
                        Українська гривня
                    </option>
                    <option :value="item.rate" v-for="item in currencies">
                        {{ item.txt }}
                    </option>
                </select>
                <input type="text" v-model="inputFirst" class="convert__input">
            </div>
            <div class="convert__box">
                <select
                        name="currencies"
                        class="convert__select"
                        v-model="selectedSecond"

                >
                    <option disabled value="">Выберите один из вариантов</option>
                    <option value="UAN">
                        Українська гривня
                    </option>
                    <option :value="item.rate" v-for="item in currencies">
                        {{ item.txt }}
                    </option>
                </select>
                <input type="text" class="convert__input" disabled v-model="changeInput">
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        data() {
            return {
                currencies: [],
                selectedFirst: '',
                selectedSecond: '',
                inputFirst: ''
            }
        },
        methods: {
            getСurrencies() {
                this.$http.get('https://bank.gov.ua/NBUStatService/v1/statdirectory/exchange?json')
                    .then((response) => {
                        this.currencies = response.body;
                    }, error => {
                        console.log(error.message);
                    });
            },
            change() {
                if(this.inputFirst.length !== 0) {
                    this.inputFirst = this.changeInput;
                }
                this.selectedSecond = [this.selectedFirst, this.selectedFirst = this.selectedSecond][0];
            }
        },
        computed: {
            changeInput() {
                let selectedFirst = this.selectedFirst;
                let selectedSecond = this.selectedSecond;
                let inputFirst = this.inputFirst;

                if (selectedFirst === 'UAN') {
                    selectedFirst = 1
                }
                if (selectedSecond === 'UAN') {
                    selectedSecond = 1
                }

                if (selectedFirst.length !== 0 && selectedSecond.length !== 0 && inputFirst.length !== 0) {
                    if (selectedFirst === 1) {
                        return (inputFirst / selectedSecond).toFixed(1)
                    }
                    if (selectedSecond === 1) {
                        return (inputFirst * selectedFirst).toFixed(1)
                    }
                    return ((inputFirst * selectedFirst) / selectedSecond).toFixed(1)
                }

            }
        },
        created() {
            this.getСurrencies();
        }
    }

</script>

<style lang="scss">
    .convert {
        position: relative;
        display: flex;
        flex: 0 0 auto;
        box-sizing: border-box;
        margin: 0 -10px 20px;
        &__box {
            padding: 0 10px;
        }
        &__select {
            height: 30px;
            margin-bottom: 40px;
            box-sizing: border-box;
            width: 100%;
        }
        &__input {
            height: 28px;
            padding: 0 5px;
            width: 100%;
            box-sizing: border-box;
            &:disabled {
              border: none;
            }
        }
        &__change {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: none;
            background: #308dff;
            color: #ffffff;
            cursor: pointer;
            height: 30px;
        }
    }

    h2 {
        font-size: 32px;
        margin: 21px 0;
    }

</style>
