<template>
    <div class="">
        <h1>Поиск валют</h1>
        <div class="search">
            <select
                    name="currency"
                    class="search__select"
                    v-model="selectedCurrency"

            >
                <option disabled value="">Выберите один из вариантов</option>
                <option :value="item.cc" v-for="item in currency">
                    {{ item.txt }}
                </option>
            </select>
            <input type="text"
                   class="search__input"
                   placeholder="ГГГГ/ММ/ДД"
                   v-mask="'####/##/##'"
                   v-model="date"
                   v-bind:class="{ error: inputError}"
            >
            <button
                    class="search__btn"
                    @click="searchCurrency"
            >
                Поиск
            </button>
        </div>
        <div class="result" v-for="item in result">
            {{ item.txt }} - {{ item.rate }} грн.
        </div>
    </div>
</template>

<script>
    import {mask} from 'vue-the-mask'

    export default {
        directives: {mask},
        data() {
            return {
                currency: [],
                result: [],
                today: new Date().toISOString().slice(0, 10).replace(/-/g, ""),
                date: new Date().toISOString().slice(0, 10).replace(/-/g, ""),
                selectedCurrency: '',
                inputError: false
            }
        },
        methods: {
            searchCurrency() {
                const selectedCurrency = this.selectedCurrency;
                const date = this.date.replace(/\//g, '');

                if(date.length !== 8 || date < 19990101 || date > this.today) {
                    this.inputError = true;
                    return;
                }

                this.inputError = false;
                this.$http.get(`https://bank.gov.ua/NBUStatService/v1/statdirectory/exchange?valcode=${selectedCurrency}&date=${date}&json`)
                    .then((response) => {
                        this.result = response.body;
                    }, error => {
                        console.log(error.message);
                    });
            },
            getСurrency() {
                const date = this.date.replace(/\//g, '');
                this.$http.get(`https://bank.gov.ua/NBUStatService/v1/statdirectory/exchange?date=${date}&json`)
                    .then((response) => {
                        this.currency = response.body;
                    }, error => {
                        console.log(error.message);
                    });
            }
        },
        created() {
            this.getСurrency()
        }
    }

</script>

<style lang="scss">
    .search {
        display: flex;
        justify-content: space-between;
        @media(max-width: 1023px) {
            flex-direction: column;
            justify-content: flex-start;
        }
        &__select {
            height: 30px;
            border: 1px solid #cccccc;
            flex: 0 0 auto;
            margin-bottom: 10px;
        }
        &__input {
            height: 30px;
            border: 1px solid #cccccc;
            box-sizing: border-box;
            width: 120px;
            padding: 0 10px;
            margin-bottom: 10px;
            &.error {
                border-color: red;
            }
        }
        &__btn {
            height: 30px;
            border: none;
            background: #308dff;
            color: #ffffff;
            cursor: pointer;
            margin-bottom: 10px;
        }
    }
    .result {
        padding: 10px 0;
    }

    h1 {
        font-size: 32px;
        margin: 21px 0;
    }

</style>
