<template>
    <div class="container">
        <div class="grid">
            <div class="grid__item">
                <app-search></app-search>
            </div>
            <div class="grid__item">
                <app-converter></app-converter>
            </div>
        </div>
    </div>
</template>

<script>
    import CurrencySearch from './components/CurrencySearch.vue';
    import CurrencyConverter from './components/CurrencyConverter.vue';

    export default {
        components: {
            appSearch: CurrencySearch,
            appConverter: CurrencyConverter
        }
    }

</script>

<style lang="scss">
    .container {
        max-width: 1000px;
        padding: 20px;
        margin: 0 auto;
        box-sizing: border-box;
    }

    .grid {
        display: flex;
        margin: 0 -10px;
        @media(max-width: 1023px) {
            flex-direction: column;
            align-items: center;
        }
        &__item {
            padding: 0 10px;
            width: 50%;
            @media(max-width: 767px) {
                width: 100%;
            }
        }
    }
</style>
